Ressourcen/*.aux
Ressourcen/*.bbl
Ressourcen/*.log 
Ressourcen/*.fls 
Ressourcen/*.blg
*.acn 
*.acr 
*.alg 
*.aux 
*.bbl 
*.bcf 
*.blg 
*.dvi 
*.fdb_latexmk
*.fls 
*.glg 
*.glo 
*.gls
*.ist 
*.lof 
*.log 
*.lot 
*.out 
*.toc 
*.xdy
